<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <!--<add key="Kiandra Nuget" value="https://teamcity.kiandra.com.au/httpAuth/app/nuget/v1/FeedService.svc" />-->
  </packageSources>
</configuration>